<div class="flex gap-3<%= notification.read.nil? ? 'bg-blue-200' : 'bg-white' %>">
  <div>
    <%= image_tag notification.actor.image, class: "w-10 h-10 rounded-full"%>
  </div>
  <div>
    <%= link_to "#{notification.actor.name} #{notification.action}: #{truncate(notification.notifiable.body, length: 50)}", notification.notifiable %>
  </div>
</div>


