<section class="w-full h-screen flex flex-col p-3">
  <h2 class="text-red-600 font-bold text-2xl mb-3"></h2>
  <%= turbo_frame_tag "modal" do %>
    <div
      data-controller="modal"
       class="fixed inset-0 z-10 flex items-center justify-center px-5">
        <div class="w-full md:w-1/2 bg-white border border-gray-300 rounded-md p-3">
          <div class="flex items-center justify-between">
            <h2>Add new Post</h2>
            <span class="text-2xl text-gray-400 cursor-pointer hover:scale-125" data-action="click->modal#close">&times;</span>
          </div>
          <div>
            <%= render "form", post: @post %>
          </div>
        </div>
    </div>
    
  <% end %>
</section>